{% extends "admin/base_site.html" %}
{% block content %}

本功能可以帮助您从YAML文件一键导入题目和测试矢量。

<h2>导入新的 Yaml</h2>

<form action="." method="post">
    {% csrf_token %}
    <textarea name="yaml_context" cols="80" rows="15" class="vLargeTextField" required="">
# 这是一道题目的示例文件 注意请不要重复导入同id题目
- id: 0
  name: "输出0"
  description: |-
    欢迎来到清华大学电子系VerilogOJ练习平台！
    最开始的这道题目希望帮助您快速上手VerilogOJ——
    请您构造一个输出常值`0`的电路。
  description_input: |-
    无输入信号
  description_output: |-
    输出单比特常值信号`0`

  top_module: "Zero"
  signals: ["out"]

  code_template: |-
    module Zero(
        output out
    );
        // 在这里输入你的代码 请不要修改模块和信号名称
    endmodule
  code_reference: |-
    module Zero(
        output out
    );
        assign out = 0;
    endmodule
  code_testbenches:
    - |-
      module testbench();
          wire out;
          Zero myZero(out);

          initial begin
              $dumpfile(`DUMP_FILE_NAME);
              $dumpvars;
          end

          initial begin
              #1;
          end
      endmodule
    </textarea>
    <div class="submit-row">
        <input type="submit" value="导入" class="default" style="float: left;">
    </div>
</form>

<h2>状态信息</h2>

{{ status_message|linebreaksbr }}

{% endblock %}